.center-screen {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bottom-screen {
    position: absolute;
    top:  95%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu_box {
    color: white;
    background-color: #888888;
}
body {
    background-color: #444;
}
#menu_content {
    margin: 10px;
}