.center-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-app-region: drag;
}

* {
    color-scheme: dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    -webkit-user-select: none;
    transition: all 0.2s ease-in-out;
    -moz-user-select: none;
    --minFontSize: 12px;
    --maxFontSize: 32px;
    --scaler: 2vw;
    font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
    -ms-user-select: none;
    user-select: none;
}

body {
    background: #383838;
    color: white;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

img#digiflag {
    max-width: 100%;
    height: auto;
    transition: all 0.2s ease-in-out;
}

svg {
    pointer-events: none;
}

.bottom-screen {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    right: 0;
    border: 2px solid transparent;
    opacity: 1;
    transition: all 0.2s ease-in;
    overflow: hidden;
    -webkit-app-region: none;
}
.bottom-screen:not(:hover) {
    position: fixed;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.2s ease-out;
    overflow: hidden;
}
.menuBox {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: row;
    justify-content: center;
    color: white;
    transition: transform 0.3s;
    -webkit-app-region: drag;
}

#menuContent {
    display: flex;
    background: #383838;
    width: fit-content;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}

button {
    border-radius: 128px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: 2px solid transparent !important;
    -webkit-app-region: none;
}

button:hover,
button:focus-within {
    border: 2px solid white !important;
    box-shadow: none !important;
}

.networkButtonsContainer {
    display: flex;
    flex-direction: column;
}

.networkButtonsContainer > button {
    margin: 5px;
}

#digiflagHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

#logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1vh;
}

#infotag {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#checkNetworkSettings {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#DigiFlag,
#F1MV {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#DigiFlag > img,
#F1MV > img {
    display: inline-flex;
    width: auto;
    height: 100%;
    max-height: 20vh;
    padding: 5px;
}

#networkSettings > input[type='text'] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

#networkSettings > input[type='text']:focus {
    border: none;
}

#selectTheme {
    display: flex;
    flex-direction: column;
    -webkit-app-region: none;
}

#themes {
    display: inline-flex;
    flex-direction: inherit;
    flex-wrap: wrap;
    align-content: center;
}

#selectDevice {
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-app-region: none;
}

#F1MVLinkContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#tagLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-bottom: 10px !important;
    border-radius: 128px !important;
}
#tagSession {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-bottom: 10px !important;
    border-radius: 128px !important;
}

#LinkF1MV {
    margin-bottom: 5px;
}

label:hover {
    color: #198754;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

.form-check-input[disabled] ~ .form-check-label:hover {
    color: #dc3545;
    font-weight: normal;
    transition: color 0.1s linear;
    cursor: not-allowed;
}

input[type='radio']:hover {
    background-color: #198754;
    cursor: pointer;
}

.form-check-input[type='checkbox']:hover {
    background-color: #198754;
    cursor: pointer;
}

#Pixoo64.form-check > .form-check-input[disabled]:hover {
    background-color: #dc3545;
    transition: color 0.1s linear;
    cursor: not-allowed;
}
#zoomControl {
    background-color: transparent;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

#zoomControl > button {
    background-color: transparent;
    border: 2px solid transparent !important;
}
#zoomControl > button:hover {
    background-color: #0d6efd;
    border: 2px solid white !important;
}

#zoomControl > button:not(:hover) {
    background-color: transparent;
    border: 2px solid transparent;
    stroke: none;
}

#zoomControl > button > svg.settings {
    stroke: white;
}
#settingsButton {
    background: none;
    border: 2px solid transparent !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

svg.settings {
    width: 24px;
    height: 24px;
}

svg.globe {
    width: 32px;
    height: 32px;
}

#settingsButton:hover {
    background: transparent;
    border: 2px solid transparent !important;
}
#settingsButton:not(:hover) {
    background: transparent;
    border: 2px solid transparent !important;
}

#settingsButton:focus {
    background: transparent;
    border: 2px solid white !important;
}

#settingsButton:hover > svg.settings {
    stroke: white;
    transition: stroke 0.2s ease-in-out;
}

.offcanvas {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.offcanvas-header .btn-close {
    transition: all 0.2s ease-in-out;
    border: none !important;
}
.offcanvas-backdrop {
    -webkit-app-region: none;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offcanvas-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.offcanvas-component > button {
    margin-bottom: 10px;
    -webkit-app-region: none;
}
@media (width <= 375px) {
    * {
        font-size: calc(6px + 2vmin);
    }
}
